<div>
        <%= link_to paint_path(paint) do  %>
          <div>
            <h6 class="popup-content"><%= paint.brand %></h6>
            <h6 class="popup-content"><%= paint.colour %></h6>
            <h6 class="popup-content"><%= paint.volume %></h6>
           </div>
           <% end %>
          </div>
</div>
