<h1>Use this page to list your old paint for recycling!</h1>


<div class="container paint-new">

  <div class="paint-new-form">
    <h2>List some paint</h2>
    <%= render "form", paint: @paint %>
  </div>
  <div class="link-paint-new">
    <%= link_to "Back", paints_path, class: "btn-red" %>
  </div>
</div>



</div>
