
<div class="container">

  <div class="nestedcard">
    <h1><%= @paint.brand %></h1>
    <p><%= @paint.colour %></p>
    <%= cl_image_tag(@paint.photo.key, height: 300, width: 400, crop: :fill) %>
    <p><%= @paint.volume %></p>
  </div>