.container-bookings {
  display: flex;
  align-items: center;
  justify-content: center;
}

.paint-details-bookingform {
  display: flex;
  align-items: center;
  justify-content: center;
  // margin-right: 6px;
}
