// Import page-specific CSS files here.
@import "home";
@import "map";
@import "profile";
@import "show";
@import "booking";

.paint-index-page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/assets/paint-tins-highview.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
