.content {
  display: flex;
  height: 675px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1px;
  padding: 5px;
  flex: 1 0 auto;
  overflow: scroll;
  margin-right: 10px;
}

.mapboxgl-popup {
  max-width: 200px;
  margin-bottom: 10px;
  font-family: 'Permanent Marker', !important;
}

.popup-content {
  text-align: center;
  font-family: 'Permanent Marker';
  text-decoration: none;
  color: black;
}

a:focus, a:visited, a:active {
  outline: none;
}

a:hover {
  text-decoration: none;
  color: purple;
  background-color: transparent;
}

.mapboxgl-popup-tip {
   border: 10px solid transparent !important;
}
