.content {
  display: flex;
  height: 600px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1px;
  padding: 5px;
  flex: 1 0 auto;
  overflow: scroll;
  margin-right: 10px;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
