.content {
  display: flex;
}

#map {
  height: 100vh;
  position: sticky;
  top: 0;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1px;
  padding: 5px;
  flex-grow: 1;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
