 <div class="card-product">
  <%= @booking = Booking.find(params[:id]) %>
    <div class="card-product-infos">
        <h2><strong>Congratulations</strong>, you've made a booking!</h2>
      </div>
    </div>


<%#= booking.paint.colour%>
<%#= booking.paint.volume%>
<%#= booking.paint.address%>
<%#= booking.paint.photo%>
