<div class="footer">
  <div class="footer-section">
    <h2 class='brand-name-footer'>OurPaint</h2>
    <p>Community-based paint recycling.</p>
    <p><i class="fas fa-map-marker-alt"></i> London</p>
    <p><i class="fas fa-phone"></i> +3335555777</p>
  </div>
  <div class="footer-section">
    <h2>Menu</h2>
    <p>About Us</p>
    <p>Terms & Policy</p>
  </div>
  <div class="footer-section">
    <h2>Stay Connected</h2>
    <p><i class="fab fa-facebook-square"></i> Facebook</p>
    <p><i class="fab fa-instagram"></i> Instagram</p>
    <p><i class="fab fa-twitter"></i> Twitter</p>
  </div>
</div>
