<% content_for(:navbar_class, "navbar-home") %>

<div class="banner">
  <div class="banner-content">
    <h1>Our paint</h1>
    <p>Community Based Paint Re-cycling</p>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Search</span>
      </div>
        <input type="text" class="form-control" aria-label="Default" placeholder="Enter Postcode" aria-describedby="inputGroup-sizing-default">
    </div>
  </div>
</div>

<div class="container">
  <div class="about-us-layout">
    <div>
      <h2>About Our Paint</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus delectus, culpa, eos error odit consectetur aliquam earum id fugit eveniet incidunt obcaecati itaque! Totam earum animi, similique incidunt nam doloribus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque illo dolorum iure accusantium placeat fugit! Doloribus voluptas, quibusdam nemo non nihil optio, harum sed commodi omnis repellendus quas nam dolorem.<p>
    </div>
  </div>
</div>
