<% content_for(:navbar_class, "navbar-home") %>

<div class="banner">
  <div class="banner-content">
    <h1>Our paint</h1>
    <center><p>Find second-hand paint in your neighbourhood</p></center>

    <div class="input-group mb-3 search-bar">
      <form action="/paints" class="search-form">
          <input type="text" id="postcode" class="form-control" name="postcode" placeholder="Enter Postcode">
          <input class="input-group-text" type="submit" value="Search">
      </form>
    </div>
  </div>
</div>

<div class="aboutus-container">
  <div class="text-col">
    <h2 class="home-about-h2">Our <strike>Paint</strike> Mission</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus delectus, culpa, eos error odit consectetur aliquam earum id fugit eveniet incidunt obcaecati itaque! Totam earum animi, similique incidunt nam doloribus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque illo dolorum iure accusantium placeat fugit! Doloribus voluptas, quibusdam nemo non nihil optio, harum sed commodi omnis repellendus quas nam dolorem.<p>
  </div>
  <div class="img-col">
  </div>
</div>

<div class="aboutus-container-2">
  <div class="img-col">
  </div>
  <div class="text-col">
    <h2 class="home-about-h2">Recycling facts</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus delectus, culpa, eos error odit consectetur aliquam earum id fugit eveniet incidunt obcaecati itaque! Totam earum animi, similique incidunt nam doloribus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque illo dolorum iure accusantium placeat fugit! Doloribus voluptas, quibusdam nemo non nihil optio, harum sed commodi omnis repellendus quas nam dolorem.<p>
  </div>
</div>

<section>
  <div class="container">
    <div><h1 class="carousel-h1">Our</h1></div>
    <div class="carousel-container carousel-small">
    <div class="card-container">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag "matthew_pic.jpg", class: "d-block w-100" %>
          </div>
          <div class="carousel-item">
            <%= image_tag "lorraine_pic.jpg", class: "d-block w-100" %>
          </div>
          <div class="carousel-item">
            <%= image_tag "pexels-cottonbro.jpg", class: "d-block w-100" %>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    </div>
    <div><h1 class="carousel-h1">Community</h1></div>
  </div>
</section>
<br>
<br>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div>
    <h2 class="footer-h2">Our Paint</h2>
  </div>
  <div class="footer-copyright">
    © OurPaint-2022
  </div>
</div>
