<div class="login-wrapper">

<h1 class="home-about-h2">Re-List your used paint</h1>

  <% if @bookings %>
    <% @bookings.each do |booking| %>
      <div>
        <%= booking.paint.colour%>
        <%= booking.paint.brand %>
        <%= booking.paint.volume%>
        <br>
        <%= link_to "Relist Paint", edit_paint_path(booking.paint), class: "btn btn-success" %>
      </div>
    <% end %>
  <% end %>
</div>
