.banner {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), image-url("paint-tins-highview.jpg");
  background-size: cover;
  background-position: center;

 h1 {
    color: white;
    background-image: image("paint_splatter.jpeg");
    font-weight: bold;
    font-size: 150px;
    font-family: 'Permanent Marker', cursive;
    text-shadow: 3px 3px 8px black;
  }

  p {
    color: white;
    opacity: .8;
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 30px;
  }
}

.banner-bookings {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), image-url("paint_brush.jpeg");
  background-size: cover;
  background-position: center;

   h1 {
    color: white;
    font-weight: bold;
    font-size: 80px;
    text-shadow: 3px 3px 8px black;
  }

  p {
    color: white;
    opacity: .8;
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 30px;
  }
}

.banner-show {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), image-url("white_canvas_background.jpeg");
  background-size: cover;
  background-position: center;


  // h1 {
  //   background-position: top;
  // }

  // p {
  //   color: white;
  //   opacity: .8;
  //   font-size: 25px;
  //   font-weight: lighter;
  //   margin-bottom: 30px;
  // }
}

  .btn {
    padding: 15px 50px;
  }

.search-bar {
  align-content: center;
  display: flex;
  justify-content: center;
  }

 .search-form {
  display: flex;
 }

 .login-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0;
 }
