//Create card classes here

.container-wide {
 margin: 3%;
}


.cardsandmap {
  width: 90%;
  height: 40%;

}

.cards::-webkit-scrollbar {
    display: none;
  }

.card {
  margin: 1px;
  width: 300px;
  height: 250px;
  box-shadow: 0px 7px 10px rgba(black, 0.5);
  border-style: solid;
  border-color: rgb(3, 0, 0);
  object-fit: cover;
  background-color: white;
  justify-content: center;
}

.card-square {
  margin: 10px;
  width: 250px;
  height: 250px;
  box-shadow: 0px 7px 10px rgba(black, 0.5);
  border-style: solid;
  border-color: rgb(3, 0, 0);
  overflow: hidden;
  object-fit: cover;
  background-color: white;
  justify-content: center;
}

.nestedcard {
  width: 250px;
  height: 250px;
  border-style: solid;
  border-color: rgb(3, 0, 0);
  overflow: hidden;
}

.card-horizontal {
  border-top: 3px solid var(--veryLightGray);
  box-shadow: 0px 30px 40px -20px var(--grayishBlue);
  display: flex;
  justify-content: space-between;
  padding: 3px;
  margin: 2px;
  margin-bottom: 10px;
  width: 400px;
  height: 100px;
  box-shadow: 0px 7px 10px rgba(black, 0.5);
  overflow: hidden;
  object-fit: cover;
  background-color: white;
  border-radius: 5px;
}

.card-horizontal-content {
  margin-left: 5px;
  font-family: 'Permanent Marker';
  color: brown;
  text-shadow: 0.5px 0.5px black;
}

.card-horizontal-brand {
  font-family: 'Permanent Marker';
  color: hsl(212, 78%, 27%);
  text-shadow: none;
}




.card-horizontal > img {
  float: right;
}

.background-card {
  background-color: black;
  height: 250px;
  width: 250px;
}

.show-paint-card {
  background-color: rgba(223, 226, 223, 0.7);
  max-width: fit-content;
  max-height: fit-content;
  text-align: center;
  border: solid;
  border-color: blue;
}

.paint-info {
  border: solid;
  border-color: greenyellow;
  width: 400px;
  height: 30px;
  border-radius: 4px;
  text-align: left;
}


.map-show {
  display: flex;
  justify-content: space-between;
  width: 550px;
  height: 550px;
}

.card-show {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 250px 250px;
  grid-template-areas: "image" "text";
  border-radius: 4px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  text-align: center;

    .card-text p {
    color: black;
    font-size: 15px;
    font-family: 'Permanent Marker';
    text-shadow: 0.5px 0.5px black;
    font-weight: 300;
  }

  .card-text h1 {
    font-family: 'Permanent Marker';
    color: brown;
    text-shadow: 0.5px 0.5px black;
    margin-top: 0px;
    font-size: 32px;
  }
}
.card-image {
  grid-area: image;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
  padding-bottom: 20px;
}
.card-text {
  grid-area: text;
  padding-top: 40px;
  margin-top: 25px;
}

.card-map {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card-map-2 {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.content {
    background-color: var(--veryLightGray);
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px var(--grayishBlue);
}

.cards {
    background-color: var(--veryLightGray);
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px var(--grayishBlue);
}

.card-product-infos{
    max-width: 400px;
    margin: auto;
    background: white;
}

.person {
  margin: auto;
  text-align: center;
}

.badge {
  margin: auto;
}

.badges-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
  padding: 40px 0;
}

.badges-container .badges-card {
  position: relative;
  min-width: 320px;
  height: 440px;
  box-shadow: inset 5px 5px 5px rgba(0,0,0,0.05);
              inset: -5px, -5px, 5px rgba(255,255,255,0.5)
              5px, 5px, 5px rgba(255,255,255,0.05),
              -5px, -5px, 5px rgba(255,255,255,0.5);
  border-radius: 15px;
  margin: 30px;
}

.badges-container .badges-card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background-color: rgb(209, 209, 209);
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.badges-container .badges-card:hover .box {
  transform: translateY(-50px);
  box-shadow: 0 10px 40px rgba(0,0,0,0.1);
  background: linear-gradient(45deg, #b95ce4, #4f29cd);
}


.badges-container .badges-card .box .badge-content {
  padding: 20px;
  text-align: center;
}

.badges-container .badges-card .box .badge-content h3{
  transition: 0.5s;
  pointer-events: none;
}

.badges-container .badges-card:hover .box .badge-content h3{
  color: whitesmoke;
}

.badges-container .badges-card .box .badge-content h4{
  z-index: 1;
  transition: 0.5s;
}

.badges-container .badges-card .box .badge-content p{
  z-index: 1;
  transition: 0.5s;
}
