// .footer {
//   background-color: #D8D8D8;
//   display: flex;
//   justify-content: space-between;
//   padding: 40px 60px;
//   h2 {
//     margin-bottom: 20px;
//   }
// }

// .footer-section {
//   max-width: 300px;
//   margin: 0px;
// }

// .brand-name-footer {
//   position:relative;
//   box-sizing: border-box;
//   font-family: $brand-font;
//   color: $gray;
//   vertical-align: middle;
//   display: inline-block;
//   top: 2px;
// }

body {
  width: 100%;
}

.footer {
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-relative {
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-links {
  display: flex;
  align-items: center;
  color: antiquewhite;
}
.footer-links a {
  color: white;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.footer-h2 {
  color: white;
  font-weight: bold;
  font-size: 40px;
  font-family: 'Permanent Marker', cursive;
  align-items: center;
}

.footer-copyright {
   color: white;
   align-items: flex-end;
}
